@import "tailwindcss";

/* 1. Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@theme {
  --font-hand: "Playwrite CA", cursive;
  --font-body: "DM Sans", sans-serif;
  --font-heading: "Bebas Neue", sans-serif;
  
  --color-dark-grey: #1a1a1a; /* Background for About/Project */
}

@layer base {
  body {
    @apply font-body text-white bg-black antialiased;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  /* Smooth Scroll */
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
}

/* Custom Utilities */
.glass-panel {
  @apply bg-white/10 backdrop-blur-md border border-white/20;
}

.stroke-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

body::-webkit-scrollbar {
  display: none;
}